<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hisign.xcky.persist.mapper.sceneCollecting.AlarmInfoMapper">

	<resultMap type="com.hisign.xcky.api.model.sceneCollecting.AlarmInfo" id="AlarmInfoMap">
		<result property="rowNum" column="ROW_ID" />
		<result property="id" column="ID" />
		<result property="alarmNo" column="ALARM_NO" />
		<result property="alarmAcceptNo" column="ALARM_ACCEPT_NO" />
		<result property="alarmTime" column="ALARM_TIME" />
		<result property="alarmReceiver" column="ALARM_RECEIVER" />
		<result property="assignPerson" column="ASSIGN_PERSON" />
		<result property="assignMethod" column="ASSIGN_METHOD" />
		<result property="assignMethodDesc" column="ASSIGN_METHOD_DESC" />
		<result property="assignReason" column="ASSIGN_REASON" />
		<result property="dispatchTime" column="DISPATCH_TIME" />
		<result property="caseNo" column="CASE_NO" />
		<result property="caseType" column="CASE_TYPE" />
		<result property="caseNature" column="CASE_NATURE" />
		<result property="caseName" column="CASE_NAME" />
		<result property="caseBrief" column="CASE_BRIEF" />
		<result property="caseRegionalism" column="CASE_REGIONALISM" />
		<result property="caseLocation" column="CASE_LOCATION" />
		<result property="caseLon" column="CASE_LON" />
		<result property="caseLat" column="CASE_LAT" />
		<result property="crimeTimeBegin" column="CRIME_TIME_BEGIN" />
		<result property="crimeTimeEnd" column="CRIME_TIME_END" />
		<result property="murderFlag" column="MURDER_FLAG" />
		<result property="criminalFlag" column="CRIMINAL_FLAG" />
		<result property="woundedAmount" column="WOUNDED_AMOUNT" />
		<result property="deadAmount" column="DEAD_AMOUNT" />
		<result property="version" column="VERSION" />
		<result property="deleteFlag" column="DELETE_FLAG" />
		<result property="createUserId" column="CREATE_USER_ID" />
		<result property="updateUserId" column="UPDATE_USER_ID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="source" column="SOURCE" />
		<result property="caseTypeCn" column="case_type_cn" />
		<result property="caseNatureCn" column="case_nature_cn" />
	</resultMap>
	
	<sql id="selectId">
		ID,
		ALARM_NO,
		ALARM_ACCEPT_NO,
		ALARM_TIME,
		ALARM_RECEIVER,
		ASSIGN_PERSON,
		ASSIGN_METHOD,
		ASSIGN_METHOD_DESC,
		ASSIGN_REASON,
		DISPATCH_TIME,
		CASE_NO,
		CASE_TYPE,
		CASE_NATURE,
		CASE_NAME,
		CASE_BRIEF,
		CASE_REGIONALISM,
		CASE_LOCATION,
		CASE_LON,
		CASE_LAT,
		CRIME_TIME_BEGIN,
		CRIME_TIME_END,
		MURDER_FLAG,
		CRIMINAL_FLAG,
		WOUNDED_AMOUNT,
		DEAD_AMOUNT,
		VERSION,
		DELETE_FLAG,
		CREATE_USER_ID,
		UPDATE_USER_ID,
		CREATE_TIME,
		UPDATE_TIME,
		SOURCE
	</sql>
  
	<sql id="insertId">
		#{id, jdbcType=CHAR},
		#{alarmNo, jdbcType=VARCHAR},
		#{alarmAcceptNo, jdbcType=VARCHAR},
		#{alarmTime, jdbcType=TIMESTAMP},
		#{alarmReceiver, jdbcType=VARCHAR},
		#{assignPerson, jdbcType=VARCHAR},
		#{assignMethod, jdbcType=VARCHAR},
		#{assignMethodDesc, jdbcType=VARCHAR},
		#{assignReason, jdbcType=VARCHAR},
		#{dispatchTime, jdbcType=TIMESTAMP},
		#{caseNo, jdbcType=VARCHAR},
		#{caseType, jdbcType=VARCHAR},
		#{caseNature, jdbcType=VARCHAR},
		#{caseName, jdbcType=VARCHAR},
		#{caseBrief, jdbcType=VARCHAR},
		#{caseRegionalism, jdbcType=VARCHAR},
		#{caseLocation, jdbcType=VARCHAR},
		#{caseLon, jdbcType=INTEGER},
		#{caseLat, jdbcType=INTEGER},
		#{crimeTimeBegin, jdbcType=TIMESTAMP},
		#{crimeTimeEnd, jdbcType=TIMESTAMP},
		#{murderFlag, jdbcType=CHAR},
		#{criminalFlag, jdbcType=CHAR},
		#{woundedAmount, jdbcType=INTEGER},
		#{deadAmount, jdbcType=INTEGER},
		#{version, jdbcType=INTEGER},
		#{deleteFlag, jdbcType=CHAR},
		#{createUserId, jdbcType=CHAR},
		#{updateUserId, jdbcType=CHAR},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP},
		#{source, jdbcType=VARCHAR}
	</sql>

	<sql id="updateId">
			<if test="alarmNo !=null and alarmNo !=''">
				ALARM_NO=#{alarmNo, jdbcType=VARCHAR},
			</if>
			<if test="alarmAcceptNo !=null and alarmAcceptNo !=''">
				ALARM_ACCEPT_NO=#{alarmAcceptNo, jdbcType=VARCHAR},
			</if>
			<if test="alarmTime !=null and alarmTime !=''">
				ALARM_TIME=#{alarmTime, jdbcType=TIMESTAMP},
			</if>
			<if test="alarmReceiver !=null and alarmReceiver !=''">
				ALARM_RECEIVER=#{alarmReceiver, jdbcType=VARCHAR},
			</if>
			<if test="assignPerson !=null and assignPerson !=''">
				ASSIGN_PERSON=#{assignPerson, jdbcType=VARCHAR},
			</if>
			<if test="assignMethod !=null and assignMethod !=''">
				ASSIGN_METHOD=#{assignMethod, jdbcType=VARCHAR},
			</if>
			<if test="assignMethodDesc !=null and assignMethodDesc !=''">
				ASSIGN_METHOD_DESC=#{assignMethodDesc, jdbcType=VARCHAR},
			</if>
			<if test="assignReason !=null and assignReason !=''">
				ASSIGN_REASON=#{assignReason, jdbcType=VARCHAR},
			</if>
			<if test="dispatchTime !=null and dispatchTime !=''">
				DISPATCH_TIME=#{dispatchTime, jdbcType=TIMESTAMP},
			</if>
			<if test="caseNo !=null and caseNo !=''">
				CASE_NO=#{caseNo, jdbcType=VARCHAR},
			</if>
			<if test="caseType !=null and caseType !=''">
				CASE_TYPE=#{caseType, jdbcType=VARCHAR},
			</if>
			<if test="caseNature !=null and caseNature !=''">
				CASE_NATURE=#{caseNature, jdbcType=VARCHAR},
			</if>
			<if test="caseName !=null and caseName !=''">
				CASE_NAME=#{caseName, jdbcType=VARCHAR},
			</if>
			<if test="caseBrief !=null and caseBrief !=''">
				CASE_BRIEF=#{caseBrief, jdbcType=VARCHAR},
			</if>
			<if test="caseRegionalism !=null and caseRegionalism !=''">
				CASE_REGIONALISM=#{caseRegionalism, jdbcType=VARCHAR},
			</if>
			<if test="caseLocation !=null and caseLocation !=''">
				CASE_LOCATION=#{caseLocation, jdbcType=VARCHAR},
			</if>
			<if test="caseLon !=null and caseLon !=''">
				CASE_LON=#{caseLon, jdbcType=INTEGER},
			</if>
			<if test="caseLat !=null and caseLat !=''">
				CASE_LAT=#{caseLat, jdbcType=INTEGER},
			</if>
			<if test="crimeTimeBegin !=null and crimeTimeBegin !=''">
				CRIME_TIME_BEGIN=#{crimeTimeBegin, jdbcType=TIMESTAMP},
			</if>
			<if test="crimeTimeEnd !=null and crimeTimeEnd !=''">
				CRIME_TIME_END=#{crimeTimeEnd, jdbcType=TIMESTAMP},
			</if>
			<if test="murderFlag !=null and murderFlag !=''">
				MURDER_FLAG=#{murderFlag, jdbcType=CHAR},
			</if>
			<if test="criminalFlag !=null and criminalFlag !=''">
				CRIMINAL_FLAG=#{criminalFlag, jdbcType=CHAR},
			</if>
			<if test="woundedAmount !=null and woundedAmount !=''">
				WOUNDED_AMOUNT=#{woundedAmount, jdbcType=INTEGER},
			</if>
			<if test="deadAmount !=null and deadAmount !=''">
				DEAD_AMOUNT=#{deadAmount, jdbcType=INTEGER},
			</if>
			<if test="version !=null and version !=''">
				VERSION=#{version, jdbcType=INTEGER},
			</if>
			<if test="updateUserId !=null and updateUserId !=''">
				UPDATE_USER_ID=#{updateUserId, jdbcType=CHAR},
			</if>
			<if test="updateTime !=null and updateTime !=''">
				UPDATE_TIME=#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag !=null and deleteFlag !=''">
				DELETE_FLAG=#{deleteFlag, jdbcType=CHAR},
			</if>
			<if test="source !=null and source !=''">
				SOURCE=#{source, jdbcType=VARCHAR}
			</if>
	</sql>
	
</mapper>
