<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hisign.xcky.persist.mapper.sceneCollecting.BasestationInfoMapper">

	<resultMap type="com.hisign.xcky.api.model.sceneCollecting.BasestationInfo" id="BasestationInfoMap">
		<result property="rowNum" column="ROW_ID" />
		<result property="id" column="ID" />
		<result property="investigationId" column="INVESTIGATION_ID" />
		<result property="deviceId" column="DEVICE_ID" />
		<result property="dataType" column="DATA_TYPE" />
		<result property="bsType" column="BS_TYPE" />
		<result property="ifactive" column="IFACTIVE" />
		<result property="regZone" column="REG_ZONE" />
		<result property="sid" column="SID" />
		<result property="nid" column="NID" />
		<result property="baseId" column="BASE_ID" />
		<result property="cdmaCh" column="CDMA_CH" />
		<result property="pn" column="PN" />
		<result property="strength" column="STRENGTH" />
		<result property="mccMnc" column="MCC_MNC" />
		<result property="lac" column="LAC" />
		<result property="cellId" column="CELL_ID" />
		<result property="bcch" column="BCCH" />
		<result property="bsic" column="BSIC" />
		<result property="sysBand" column="SYS_BAND" />
		<result property="lon" column="LON" />
		<result property="lat" column="LAT" />
		<result property="colTime" column="COL_TIME" />
		<result property="erfcn" column="ERFCN" />
		<result property="pci" column="PCI" />
		<result property="band" column="BAND" />
		<result property="cell" column="CELL" />
		<result property="earfcn" column="EARFCN" />
		<result property="rsrp" column="RSRP" />
		<result property="rsrq" column="RSRQ" />
		<result property="rssi" column="RSSI" />
		<result property="source" column="SOURCE" />
		<result property="version" column="VERSION" />
		<result property="deleteFlag" column="DELETE_FLAG" />
		<result property="createUserId" column="CREATE_USER_ID" />
		<result property="updateUserId" column="UPDATE_USER_ID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="attachmentId" column="ATTACHMENT_ID" />
		<result property="secmod" column="SECMOD" />
		<result property="ssid" column="SSID" />
		<result property="mac" column="MAC" />
		<result property="chn" column="CHN" />
	</resultMap>
	
	<sql id="selectId">
		ID,
		INVESTIGATION_ID,
		DEVICE_ID,
		DATA_TYPE,
		BS_TYPE,
		IFACTIVE,
		REG_ZONE,
		SID,
		NID,
		BASE_ID,
		CDMA_CH,
		PN,
		STRENGTH,
		MCC_MNC,
		LAC,
		CELL_ID,
		BCCH,
		BSIC,
		SYS_BAND,
		LON,
		LAT,
		COL_TIME,
		ERFCN,
		PCI,
		BAND,
		CELL,
		EARFCN,
		RSRP,
		RSRQ,
		RSSI,
		SOURCE,
		VERSION,
		DELETE_FLAG,
		CREATE_USER_ID,
		UPDATE_USER_ID,
		CREATE_TIME,
		UPDATE_TIME,
		ATTACHMENT_ID,
		SECMOD,
		SSID,
		MAC,
		CHN
	</sql>
  
	<sql id="insertId">
		#{id, jdbcType=CHAR},
		#{investigationId, jdbcType=CHAR},
		#{deviceId, jdbcType=VARCHAR},
		#{dataType, jdbcType=VARCHAR},
		#{bsType, jdbcType=VARCHAR},
		#{ifactive, jdbcType=VARCHAR},
		#{regZone, jdbcType=VARCHAR},
		#{sid, jdbcType=VARCHAR},
		#{nid, jdbcType=VARCHAR},
		#{baseId, jdbcType=VARCHAR},
		#{cdmaCh, jdbcType=VARCHAR},
		#{pn, jdbcType=VARCHAR},
		#{strength, jdbcType=VARCHAR},
		#{mccMnc, jdbcType=VARCHAR},
		#{lac, jdbcType=VARCHAR},
		#{cellId, jdbcType=VARCHAR},
		#{bcch, jdbcType=VARCHAR},
		#{bsic, jdbcType=VARCHAR},
		#{sysBand, jdbcType=VARCHAR},
		#{lon, jdbcType=VARCHAR},
		#{lat, jdbcType=VARCHAR},
		#{colTime, jdbcType=TIMESTAMP},
		#{erfcn, jdbcType=VARCHAR},
		#{pci, jdbcType=VARCHAR},
		#{band, jdbcType=VARCHAR},
		#{cell, jdbcType=VARCHAR},
		#{earfcn, jdbcType=VARCHAR},
		#{rsrp, jdbcType=VARCHAR},
		#{rsrq, jdbcType=VARCHAR},
		#{rssi, jdbcType=VARCHAR},
		#{source, jdbcType=VARCHAR},
		#{version, jdbcType=INTEGER},
		#{deleteFlag, jdbcType=CHAR},
		#{createUserId, jdbcType=CHAR},
		#{updateUserId, jdbcType=CHAR},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP},
		#{attachmentId, jdbcType=CHAR},
		#{secmod, jdbcType=VARCHAR},
		#{ssid, jdbcType=VARCHAR},
		#{mac, jdbcType=VARCHAR},
		#{chn, jdbcType=VARCHAR}
	</sql>

	<sql id="updateId">
			<if test="investigationId !=null and investigationId !=''">
				INVESTIGATION_ID=#{investigationId, jdbcType=CHAR},
			</if>
			<if test="deviceId !=null and deviceId !=''">
				DEVICE_ID=#{deviceId, jdbcType=VARCHAR},
			</if>
			<if test="dataType !=null and dataType !=''">
				DATA_TYPE=#{dataType, jdbcType=VARCHAR},
			</if>
			<if test="bsType !=null and bsType !=''">
				BS_TYPE=#{bsType, jdbcType=VARCHAR},
			</if>
			<if test="ifactive !=null and ifactive !=''">
				IFACTIVE=#{ifactive, jdbcType=VARCHAR},
			</if>
			<if test="regZone !=null and regZone !=''">
				REG_ZONE=#{regZone, jdbcType=VARCHAR},
			</if>
			<if test="sid !=null and sid !=''">
				SID=#{sid, jdbcType=VARCHAR},
			</if>
			<if test="nid !=null and nid !=''">
				NID=#{nid, jdbcType=VARCHAR},
			</if>
			<if test="baseId !=null and baseId !=''">
				BASE_ID=#{baseId, jdbcType=VARCHAR},
			</if>
			<if test="cdmaCh !=null and cdmaCh !=''">
				CDMA_CH=#{cdmaCh, jdbcType=VARCHAR},
			</if>
			<if test="pn !=null and pn !=''">
				PN=#{pn, jdbcType=VARCHAR},
			</if>
			<if test="strength !=null and strength !=''">
				STRENGTH=#{strength, jdbcType=VARCHAR},
			</if>
			<if test="mccMnc !=null and mccMnc !=''">
				MCC_MNC=#{mccMnc, jdbcType=VARCHAR},
			</if>
			<if test="lac !=null and lac !=''">
				LAC=#{lac, jdbcType=VARCHAR},
			</if>
			<if test="cellId !=null and cellId !=''">
				CELL_ID=#{cellId, jdbcType=VARCHAR},
			</if>
			<if test="bcch !=null and bcch !=''">
				BCCH=#{bcch, jdbcType=VARCHAR},
			</if>
			<if test="bsic !=null and bsic !=''">
				BSIC=#{bsic, jdbcType=VARCHAR},
			</if>
			<if test="sysBand !=null and sysBand !=''">
				SYS_BAND=#{sysBand, jdbcType=VARCHAR},
			</if>
			<if test="lon !=null and lon !=''">
				LON=#{lon, jdbcType=VARCHAR},
			</if>
			<if test="lat !=null and lat !=''">
				LAT=#{lat, jdbcType=VARCHAR},
			</if>
			<if test="colTime !=null and colTime !=''">
				COL_TIME=#{colTime, jdbcType=TIMESTAMP},
			</if>
			<if test="erfcn !=null and erfcn !=''">
				ERFCN=#{erfcn, jdbcType=VARCHAR},
			</if>
			<if test="pci !=null and pci !=''">
				PCI=#{pci, jdbcType=VARCHAR},
			</if>
			<if test="band !=null and band !=''">
				BAND=#{band, jdbcType=VARCHAR},
			</if>
			<if test="cell !=null and cell !=''">
				CELL=#{cell, jdbcType=VARCHAR},
			</if>
			<if test="earfcn !=null and earfcn !=''">
				EARFCN=#{earfcn, jdbcType=VARCHAR},
			</if>
			<if test="rsrp !=null and rsrp !=''">
				RSRP=#{rsrp, jdbcType=VARCHAR},
			</if>
			<if test="rsrq !=null and rsrq !=''">
				RSRQ=#{rsrq, jdbcType=VARCHAR},
			</if>
			<if test="rssi !=null and rssi !=''">
				RSSI=#{rssi, jdbcType=VARCHAR},
			</if>
			<if test="source !=null and source !=''">
				SOURCE=#{source, jdbcType=VARCHAR},
			</if>
			<if test="version !=null and version !=''">
				VERSION=#{version, jdbcType=INTEGER},
			</if>
			<if test="updateUserId !=null and updateUserId !=''">
				UPDATE_USER_ID=#{updateUserId, jdbcType=CHAR},
			</if>
			<if test="updateTime !=null and updateTime !=''">
				UPDATE_TIME=#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="attachmentId !=null and attachmentId !=''">
				ATTACHMENT_ID=#{attachmentId, jdbcType=CHAR},
			</if>
			<if test="secmod !=null and secmod !=''">
				SECMOD=#{secmod, jdbcType=VARCHAR},
			</if>
			<if test="ssid !=null and ssid !=''">
				SSID=#{ssid, jdbcType=VARCHAR},
			</if>
			<if test="mac !=null and mac !=''">
				MAC=#{mac, jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag !=null and deleteFlag !=''">
				DELETE_FLAG=#{deleteFlag, jdbcType=CHAR},
			</if>
			<if test="chn !=null and chn !=''">
				CHN=#{chn, jdbcType=VARCHAR}
			</if>
	</sql>
	
</mapper>
