<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.xcky.persist.mapper.sceneCollecting.CameraInfoMapper">

	<select id="getById" resultMap="CameraInfoMap" parameterType="String">
		SELECT
			<include refid="selectcloum" />
		FROM T_CAMERA_INFO T1,
				   T_COMMON_PICTURE T2,       
				   t_sys_dict       t3,
                   t_sys_dict       t4
		WHERE T1.PICTURE_ID=T2.ID 
		   and 'SXTLXDM' = t3.root_key(+)
		   and t1.camera_type = t3.dict_key
		   and 'XCFXDM' = t4.root_key(+)
		   and t1.camera_orientation = t4.dict_key		
		   AND 	T1.ID=#{id}
	</select>
	<select id="findListByInvestigationId" resultMap="CameraInfoMap" parameterType="String">
		SELECT
			<include refid="selectcloum" />
		FROM T_CAMERA_INFO T1,
		           T_COMMON_PICTURE T2,
				   t_sys_dict       t3,
                   t_sys_dict       t4		           
		WHERE T1.PICTURE_ID=T2.ID(+) 
			AND T1.DELETE_FLAG = '0' 
		   and 'SXTLXDM' = t3.root_key(+)
		   and t1.camera_type = t3.dict_key
		   and 'XCFXDM' = t4.root_key(+)
		   and t1.camera_orientation = t4.dict_key			
		   and T1.INVESTIGATION_ID=#{investigationId}
	</select>
	
	<insert id="add" parameterType="com.hisign.xcky.api.model.sceneCollecting.CameraInfo">
		INSERT INTO T_CAMERA_INFO (
			<include refid="selectId" />
		) VALUES (
			<include refid="insertId" />
		)
	</insert>
	
	<delete id="deleteById" parameterType="String">
		DELETE FROM T_CAMERA_INFO WHERE ID=#{id}
	</delete>
	
	<update id="deleteLogicById" parameterType="com.hisign.xcky.api.model.sceneCollecting.CameraInfo">
		UPDATE T_CAMERA_INFO 
		<set>
			DELETE_FLAG=#{deleteFlag},
			VERSION=#{version, jdbcType=VARCHAR},
			UPDATE_USER_ID=#{updateUserId, jdbcType=VARCHAR},
			UPDATE_TIME=#{updateTime, jdbcType=DATE}
		</set>
		WHERE ID=#{id}
	</update>
	
	<update id="updateById" parameterType="com.hisign.xcky.api.model.sceneCollecting.CameraInfo">
		UPDATE T_CAMERA_INFO
		<set>
			<include refid="updateId" />	
		</set>
		WHERE ID=#{id}
	</update>
	
	<select id="query" resultMap="CameraInfoMap" parameterType="com.hisign.xcky.api.model.sceneCollecting.CameraInfo">
		SELECT
			<include refid="selectId" />
		FROM T_CAMERA_INFO
		WHERE DELETE_FLAG=#{deleteFlag}
	</select>
	
</mapper>