<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hisign.xcky.persist.mapper.sceneCollecting.SceneCollectedGoodsMapper">

	<resultMap type="com.hisign.xcky.api.model.sceneCollecting.SceneCollectedGoods" id="SceneCollectedGoodsMap">
		<result property="rowNum" column="ROW_ID" />
		<result property="id" column="ID" />
		<result property="investigationId" column="INVESTIGATION_ID" />
		<result property="serialNo" column="SERIAL_NO" />
		<result property="name" column="NAME" />
		<result property="materialEvidenceFlag" column="MATERIAL_EVIDENCE_FLAG" />
		<result property="materialEvidenceId" column="MATERIAL_EVIDENCE_ID" />
		<result property="amount" column="AMOUNT" />
		<result property="collectedPosition" column="COLLECTED_POSITION" />
		<result property="collectedMethod" column="COLLECTED_METHOD" />
		<result property="collectedTime" column="COLLECTED_TIME" />
		<result property="feature" column="FEATURE" />
		<result property="source" column="SOURCE" />
		<result property="version" column="VERSION" />
		<result property="deleteFlag" column="DELETE_FLAG" />
		<result property="createUserId" column="CREATE_USER_ID" />
		<result property="updateUserId" column="UPDATE_USER_ID" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="remark" column="REMARK" />
		<result property="pictureId" column="PICTURE_ID" />
		<result property="attachmentId" column="ATTACHMENT_ID" />
		<result property="category" column="CATEGORY" />
		<result property="materialEvidenceTypeDict" column="MATERIAL_EVIDENCE_TYPE_DICT" />
		<result property="materialEvidenceType" column="MATERIAL_EVIDENCE_TYPE" />
		<result property="collectedPersonID" column="collectedPersonID" />
		<result property="collectedPerson" column="collectedPerson" />
	</resultMap>
	<sql id="selectcloum">
		T1.ID,
		T1.INVESTIGATION_ID,
		T1.SERIAL_NO,
		T1.NAME,
		T1.MATERIAL_EVIDENCE_FLAG,
		T1.MATERIAL_EVIDENCE_ID,
		T1.AMOUNT,
		T1.COLLECTED_POSITION,
		T1.COLLECTED_METHOD,
		T1.COLLECTED_TIME,
		T1.FEATURE,
		T1.SOURCE,
		T1.VERSION,
		T1.DELETE_FLAG,
		T1.CREATE_USER_ID,
		T1.UPDATE_USER_ID,
		T1.CREATE_TIME,
		T1.UPDATE_TIME,
		T1.REMARK,
		T1.PICTURE_ID,
		T2.file_server_path as attachment_id,
		T1.CATEGORY,
		T1.MATERIAL_EVIDENCE_TYPE_DICT,
		T1.MATERIAL_EVIDENCE_TYPE		
	</sql>
	<sql id="selectId">
		ID,
		INVESTIGATION_ID,
		SERIAL_NO,
		NAME,
		MATERIAL_EVIDENCE_FLAG,
		MATERIAL_EVIDENCE_ID,
		AMOUNT,
		COLLECTED_POSITION,
		COLLECTED_METHOD,
		COLLECTED_TIME,
		FEATURE,
		SOURCE,
		VERSION,
		DELETE_FLAG,
		CREATE_USER_ID,
		UPDATE_USER_ID,
		CREATE_TIME,
		UPDATE_TIME,
		REMARK,
		PICTURE_ID,
		CATEGORY,
		MATERIAL_EVIDENCE_TYPE_DICT,
		MATERIAL_EVIDENCE_TYPE		
	</sql>
  
	<sql id="insertId">
		#{id, jdbcType=CHAR},
		#{investigationId, jdbcType=CHAR},
		#{serialNo, jdbcType=VARCHAR},
		#{name, jdbcType=VARCHAR},
		#{materialEvidenceFlag, jdbcType=CHAR},
		#{materialEvidenceId, jdbcType=CHAR},
		#{amount, jdbcType=INTEGER},
		#{collectedPosition, jdbcType=VARCHAR},
		#{collectedMethod, jdbcType=VARCHAR},
		#{collectedTime, jdbcType=TIMESTAMP},
		#{feature, jdbcType=VARCHAR},
		#{source, jdbcType=VARCHAR},
		#{version, jdbcType=INTEGER},
		#{deleteFlag, jdbcType=CHAR},
		#{createUserId, jdbcType=CHAR},
		#{updateUserId, jdbcType=CHAR},
		#{createTime, jdbcType=TIMESTAMP},
		#{updateTime, jdbcType=TIMESTAMP},
		#{remark, jdbcType=VARCHAR},
		#{pictureId, jdbcType=VARCHAR},
		#{category, jdbcType=VARCHAR},
		#{materialEvidenceTypeDict, jdbcType=VARCHAR},
		#{materialEvidenceType, jdbcType=VARCHAR}		
	</sql>

	<sql id="updateId">
			<if test="investigationId !=null and investigationId !=''">
				INVESTIGATION_ID=#{investigationId, jdbcType=CHAR},
			</if>
			<if test="serialNo !=null and serialNo !=''">
				SERIAL_NO=#{serialNo, jdbcType=VARCHAR},
			</if>
			<if test="name !=null and name !=''">
				NAME=#{name, jdbcType=VARCHAR},
			</if>
			<if test="materialEvidenceFlag !=null and materialEvidenceFlag !=''">
				MATERIAL_EVIDENCE_FLAG=#{materialEvidenceFlag, jdbcType=CHAR},
			</if>
			<if test="materialEvidenceId !=null and materialEvidenceId !=''">
				MATERIAL_EVIDENCE_ID=#{materialEvidenceId, jdbcType=CHAR},
			</if>
			<if test="amount !=null and amount !=''">
				AMOUNT=#{amount, jdbcType=INTEGER},
			</if>
			<if test="collectedPosition !=null and collectedPosition !=''">
				COLLECTED_POSITION=#{collectedPosition, jdbcType=VARCHAR},
			</if>
			<if test="collectedMethod !=null and collectedMethod !=''">
				COLLECTED_METHOD=#{collectedMethod, jdbcType=VARCHAR},
			</if>
			<if test="collectedTime !=null and collectedTime !=''">
				COLLECTED_TIME=#{collectedTime, jdbcType=TIMESTAMP},
			</if>
			<if test="feature !=null and feature !=''">
				FEATURE=#{feature, jdbcType=VARCHAR},
			</if>
			<if test="source !=null and source !=''">
				SOURCE=#{source, jdbcType=VARCHAR},
			</if>
			<if test="version !=null and version !=''">
				VERSION=#{version, jdbcType=INTEGER},
			</if>
			<if test="updateUserId !=null and updateUserId !=''">
				UPDATE_USER_ID=#{updateUserId, jdbcType=CHAR},
			</if>
			<if test="updateTime !=null and updateTime !=''">
				UPDATE_TIME=#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="remark !=null and remark !=''">
				REMARK=#{remark, jdbcType=VARCHAR},
			</if>
			<if test="pictureId !=null and pictureId !=''">
				PICTURE_ID=#{pictureId, jdbcType=VARCHAR},
			</if>
			<if test="category !=null and category !=''">
				CATEGORY=#{category, jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag !=null and deleteFlag !=''">
				DELETE_FLAG=#{deleteFlag, jdbcType=CHAR},
			</if>
			<if test="materialEvidenceTypeDict !=null and materialEvidenceTypeDict !=''">
				MATERIAL_EVIDENCE_TYPE_DICT=#{materialEvidenceTypeDict, jdbcType=VARCHAR},
			</if>
			<if test="materialEvidenceType !=null and materialEvidenceType !=''">
				MATERIAL_EVIDENCE_TYPE=#{materialEvidenceType, jdbcType=VARCHAR}
			</if>			
	</sql>
	
</mapper>
