<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.xcky.persist.mapper.sceneCollecting.SceneAnalysisItemMapper">

	<select id="getById" resultMap="SceneAnalysisItemMap" parameterType="String">
		SELECT
			<include refid="selectId" />
		FROM T_SCENE_ANALYSIS_ITEM
		WHERE ID=#{id}
	</select>
	<select id="findByInvestigationId" resultMap="SceneAnalysisItemMap" parameterType="String">
		SELECT
			<include refid="selectId" />
		FROM T_SCENE_ANALYSIS_ITEM
		WHERE DELETE_FLAG = '0' and INVESTIGATION_ID=#{investigationId}
	</select>
	<insert id="add" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneAnalysisItem">
		INSERT INTO T_SCENE_ANALYSIS_ITEM (
			<include refid="selectId" />
		) VALUES (
			<include refid="insertId" />
		)
	</insert>
	
	<delete id="deleteById" parameterType="String">
		DELETE FROM T_SCENE_ANALYSIS_ITEM WHERE ID=#{id}
	</delete>
	
	<update id="deleteLogicById" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneAnalysisItem">
		UPDATE T_SCENE_ANALYSIS_ITEM 
		<set>
			DELETE_FLAG=#{deleteFlag},
			VERSION=#{version, jdbcType=VARCHAR},
			UPDATE_USER_ID=#{updateUserId, jdbcType=VARCHAR},
			UPDATE_TIME=#{updateTime, jdbcType=DATE}
		</set>
		WHERE ID=#{id}
	</update>
	
	<update id="updateById" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneAnalysisItem">
		UPDATE T_SCENE_ANALYSIS_ITEM
		<set>
			<include refid="updateId" />	
		</set>
		WHERE ID=#{id}
	</update>
	
	<select id="query" resultMap="SceneAnalysisItemMap" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneAnalysisItem">
		SELECT
			<include refid="selectId" />
		FROM T_SCENE_ANALYSIS_ITEM
		WHERE DELETE_FLAG=#{deleteFlag}
	</select>
	
	<delete id="deleteByItemType" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneAnalysisItem">
		DELETE FROM T_SCENE_ANALYSIS_ITEM 
		WHERE INVESTIGATION_ID=#{investigationId, jdbcType=CHAR} 
		AND ITEM_TYPE = #{itemType, jdbcType=VARCHAR}
	</delete>	
	
</mapper>