<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.xcky.persist.mapper.sceneCollecting.SceneBodyDissectionMapper">

	<select id="getById" resultMap="SceneBodyDissectionMap" parameterType="String">
		SELECT
			<include refid="selectId" />
		FROM T_SCENE_BODY_DISSECTION
		WHERE ID=#{id}
	</select>
	
	<insert id="add" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneBodyDissection">
		INSERT INTO T_SCENE_BODY_DISSECTION (
			<include refid="selectId" />
		) VALUES (
			<include refid="insertId" />
		)
	</insert>
	
	<delete id="deleteById" parameterType="String">
		DELETE FROM T_SCENE_BODY_DISSECTION WHERE ID=#{id}
	</delete>
	
	<update id="deleteLogicById" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneBodyDissection">
		UPDATE T_SCENE_BODY_DISSECTION 
		<set>
			DELETE_FLAG=#{deleteFlag},
			VERSION=#{version, jdbcType=VARCHAR},
			UPDATE_USER_ID=#{updateUserId, jdbcType=VARCHAR},
			UPDATE_TIME=#{updateTime, jdbcType=DATE}
		</set>
		WHERE ID=#{id}
	</update>
	
	<update id="updateById" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneBodyDissection">
		UPDATE T_SCENE_BODY_DISSECTION
		<set>
			<include refid="updateId" />	
		</set>
		WHERE ID=#{id}
	</update>
	
	<select id="query" resultMap="SceneBodyDissectionMap" parameterType="com.hisign.xcky.api.model.sceneCollecting.SceneBodyDissection">
		SELECT
			<include refid="selectId" />
		FROM T_SCENE_BODY_DISSECTION
		WHERE DELETE_FLAG=#{deleteFlag}
	</select>
	
</mapper>