<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hisign.xcky.persist.mapper.system.SysDictMapper">

	<select id="findSingleDictByRootKey" parameterType="java.lang.String" 
		resultMap="sysDictMap">
    	SELECT
        	DICT_KEY AS KEY,
        	ROOT_KEY AS ROOT,
        	DICT_VALUE AS VALUE
        FROM T_SYS_DICT
        WHERE OPEN_FLAG = '1'
        AND PARENT_KEY <![CDATA[<>]]> 'SYS_DICT'
        AND ROOT_KEY = #{VALUE}
        AND DELETE_FLAG = '0'
        ORDER BY DICT_SORT ASC
    </select>	
    
    <select id="findByParentKey" resultMap="sysDictMap" parameterType="String">
		SELECT
			ID,
			ROOT_KEY,
			DICT_KEY,
			PARENT_KEY,
			DICT_VALUE,
			DICT_SORT
		FROM T_SYS_DICT
		WHERE DELETE_FLAG=0
		and PARENT_KEY=#{value}
	</select>
	
	<select id="findDictByobj" resultType="string" parameterType="com.hisign.xcky.api.model.system.SysDict">
		SELECT
			DICT_VALUE
		FROM T_SYS_DICT
		WHERE DELETE_FLAG=0
		and DICT_KEY = #{dictKey, jdbcType=VARCHAR}
		and ROOT_KEY = #{rootKey, jdbcType=VARCHAR}
	</select>
	
	<select id="findTreeListByKey" resultMap="sysDictMap" parameterType="String">
		select 
			   id,
			   root_key   as root,
		       dict_key   as key,
		       parent_key as parentkey,
		       dict_value as value
		  from t_sys_dict tsd
		 where delete_flag = 0
		 and tsd.root_key = #{value}
		 and tsd.dict_key! = #{value}
		 order by tsd.DICT_SORT asc
	</select>
	
	<select id="findParentByKey" resultMap="sysDictMap" parameterType="String">
		select distinct *
		  from t_sys_dict t
		 where t.root_key = 'AJLBDM'
		 start with t.dict_key = #{value}
		connect by prior t.parent_key = t.dict_key
	</select>	
    
</mapper>