<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxws="http://cxf.apache.org/jaxws" 
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context  
      	http://www.springframework.org/schema/context/spring-context.xsd
        ">
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.LoginService" id="ssoLoginService" protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.RoleService" id="ssoRoleService"  protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.MenuResourceService" id="menuResourceService"  protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.UserService" id="ssoUserService"  protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.SysUserRoleService" id="ssoUserRoleService"  protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.OrganiseService" id="ssorganiseService"  protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.UserOrganizationService" id="ssoUserOrganizationService"  protocol="rmi" />
	
	<dubbo:reference interface="com.hisign.sso.api.service.sys.RoleResourceService" id="ssoRoleResourceService"  protocol="rmi" />
</beans>